:root {
  --header-bg-color: #f8f9fa;

  --bg-color: #e0e0e0;
  --text-color: #343a40;

  --cell-bg: #e9ecef;
  --cell-border: #ced4da;

  --btn-bg: #007bff;
  --btn-bg-hover-color: ##0056b3;
  --btn-color: white;
}

.dark {
  --header-bg-color: #303030;

  --bg-color: #1f1f1f;
  --text-color: #d9d9d9;

  --cell-bg: #808080;
  --cell-border: #919191;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: var(--bg-color);
}

h1 {
  margin: 0;
}

header {
  background-color: var(--header-bg-color);
  padding: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color);
}

.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: end;
}

.btn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
  transition-duration: 0.3s;
}

.theme-btn {
  padding: 8px 16px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.container {
  max-width: 1240px;
  margin: 15px auto;
}

.players-score {
  display: flex;
  flex-direction: column;
}

.game-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.cell {
  flex: 1;
  width: 100%;
  height: 200px;
  position: relative;
  background-color: var(--cell-bg);
  border: 2px solid --cell-border;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0;
}

.mark-x {
  width: 100%;
  height: 100%;
  background-image: url("./images/X.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mark-o {
  width: 100%;
  height: 100%;
  background-image: url("./images/O.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sun {
  position: relative;
  background-color: yellow;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}

.inner-circle {
  position: absolute;
  background-color: var(--btn-bg);
  width: 17px;
  height: 17px;
  transform: translate(-100%, -100%);
  border-radius: 50%;
  transition: all 0.5s ease;
}

.inner-circle.visible {
  transform: translate(0%, 0%);
}
